* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
	
	/* dev */
	/*background: url("../img/device-index-preview.jpg") no-repeat 50% 0;*/
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	
	/* dev */
	outline: 1px solid green;
	background-color: rgba(0, 255, 0, 0.1);
}

/* Шапка */
.index-header, .page-header {
	padding-top: 20px;
}

.logo {
	display: block;
	width: 164px;
	margin-left: 60px;
	margin-bottom: 10px;
}

/* Меню в шапке */
.header-menu-wrap {
	margin: 0 60px 20px;
	
	/* dev */
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.header-row {
	margin-bottom: 15px;
}

.header-search {
	float: left;
	width: 440px;
	
	/* dev */
	min-height: 50px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.user-menu {
	float: right;
	width: 500px;
	
	/* dev */
	min-height: 50px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.user-item {
	display: inline-block;
}

.header-menu {
	float: left;
	width: 440px;
	
	/* dev */
	min-height: 50px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

.catalog-sub-list {
	display: none;
	position: absolute;
}

.catalog-item:hover .catalog-sub-list {
	display: block;
}

.services-menu {
	float: right;
	width: 500px;
	
	/* dev */
	min-height: 50px;
	outline: 1px solid yellow;
	background-color: rgba(255, 255, 0, 0.2);
}

/* Слайдер в шапке */
.slides-wrap {
	position: relative;
	margin: 0 60px;
	
	/* dev */
	min-height: 486px;
	outline: 1px solid red;
	background-color: rgba(255, 0, 0, 0.1);
}

.slides-wrap input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	top: 330px;
	right: 3px;
	font-size: 0;
	line-height: 0;
}

.slider-controls .indicator {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-right: 22px;
	border: 3px solid #000;
	border-radius: 50%;
	opacity: 0.3;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"] {
	opacity: 1;
}

#slide-2:checked ~ .slider-controls label[for="slide-2"] {
	opacity: 1;
}

#slide-3:checked ~ .slider-controls label[for="slide-3"] {
	opacity: 1;
}

.slide {
	display: none;
}

input[id="slide-1"]:checked ~ [class*="slide-1"] {
	display: block;
}

input[id="slide-2"]:checked ~ [class*="slide-2"] {
	display: block;
}

input[id="slide-3"]:checked ~ [class*="slide-3"] {
	display: block;
}

.slide-img {
	float: left;
	width: 384px;
	margin-left: 30px;
	line-height: 0;
}

.slide-text {
	float: right;
	width: 480px;
	margin-right: 20px;
	padding-top: 80px;
}



/* fonts */
.title, .slide-title {
	font-family: "Gilroy", sans-serif;
	font-size: 47px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 0.01em;
	color: #000;
}

.sorting-title, .filter-title {
	font-family: "Gilroy", sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	letter-spacing: 0.2em;
	color: #000;
	text-transform: uppercase;
}